.Mains{
    background-image: url('/Exp2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
  
}

.heading {
    box-shadow: 4px 10px black ;
  }

@media only screen and (max-width: 600px) {
    .Mains {
      background-image: url('/Exp2.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed ;
    }
  }